
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

.container{
	margin: 0 auto;
	padding: 20px 40px;
	max-width: 1280px;
}
.account_title{
	margin-bottom: 20px;
}
.account_main{
	color: #AB1B20;
}

/*form*/
.account-form{
	font-size: 18px;
	font-weight: bolder;
	display: flex;
	flex-direction: column;
	border: 2px solid #CEDDE0;
	border-radius: 4px;
	padding: 20px;

}
.account-form_avatar{
	margin-right: 40px;
	width: 100%;
	margin-bottom: 20px;
}
.account-form_fields{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	border: 2px solid #CEDDE0;
	border-radius: 4px;
	padding: 20px;
}
.account-form_submit{
	margin-top: 40px;
	width: 100%;
}
/*avatar*/

.avatar_input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -10;
}
.avatar_label{
	width: 100%;
	min-height: 400px;
	display: block;
	background-color: cornflowerblue;
	border-radius: 4px;
	position: relative;
	z-index: 10;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	margin-bottom: 20px;
}

/*submit*/
.button{
	padding: 10px;
	font-size: 16px;
	font-weight: bolder;
	border-radius: 4px;
	outline: none;
	border: none;
	color: white;
}
.button:hover{
	cursor: pointer;
}

.button.wine{
	background-color: rgba(171,27,32,0.9);
}
/*input*/
.input_wrapper{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}
.input_label{
	margin-bottom: 20px;
}
.input{
	padding: 10px;
	border: 2px solid #CEDDE0;
	border-radius: 4px;
	outline: none;
	color: #AB1B20;
}


@media screen and (min-width: 900px) {
	.account-form {
		flex-direction: row;
		justify-content: space-between;
		padding: 40px;
	}
	.account-form_avatar{
		width: 400px;
		margin-bottom: 0;
	}
	.account-form_fields{
		border: none;
		padding: 0;
	}
	.account-form_submit{
		width: 300px;
	}

}
